/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Setting the font size*/
html {
    font-size: 100%;
}
/* Remove margins and padding from the list */
.book {
    margin: 0;
    padding: 0;
}

/* Style the header */
.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
		height: 15vh;
		margin: 0 auto;
		max-width: auto;
		padding: 0 2%;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Boxes the featured books */
#featured {
	border: 10px dashed #12646E;
	text-align: center;
	width: 100%;
	height: 100%;
	position: relative;
}

/* Style featured book */
#featured .book {
    width: 100%;
    height: 350px;
    margin: auto;
    padding: 10px;
    border: 3px solid black;
    overflow: auto;
}

/* Style the featured books cover */
#featured .cover {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

/* Style the featured books information */
#featured .bookInformation {
    width: 100%;
    margin: auto;
}

/* Style the rest of the book */
.book {
    width: 100%;
    height: 250px;
    margin: auto;
    padding: 10px;
    border: 3px solid black;
}

img {
    max-width: 100%;
    height: auto;
}

/* Style the rest of the books' cover */
.cover {
    height: 200px;
    width: 33%;
    padding: 0;
    margin: 0;
    display: auto;
    float: left;
}

/* Style the rest of the books' information */
.bookInformation {
    width: 67%;
    margin: auto;
    float: right;
}    

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect to the font awesome icons */
.fa:hover {
    opacity: 0.7;
}

/* Style the book items */
.book {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    transition: 0.2;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Darker background-color on hover */
.book:hover {
    background: #bbb;
}

/* When clicked on, add a background color*/
.book.is-selected {
    background: #888;
    color: #fff;
}

/* Add a "checked" mark when clicked on */
.is-selected::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 20px;
    right: 36px;
    transform: rotate(45deg);
    height: 30px;
    width: 14px;
}

/* Making layout responsive to different size screens */
#pagewrap {
    width: 1080px;
    margin: auto;
}

/* For desktops */
@media screen and (min-width: 1080px) {
    #pagewrap {
        width: 95%;
		}
		
		.fa {
			display: flex;
		}
		
		#container {
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-between;
			align-items: stretch;
			margin: 0;
			-webkit-columns: 300px 3;
			-moz-columns: 300px 3;
					 columns: 300px 3;
		}

		#bookList{
			display: flex;
			width: 400px;
			justify-content: space-between;
			flex-direction: column;
			align-items: center;
			order: 1;
		}

		#featured {
			display: flex;
			background: rgb(244, 244, 195);
			justify-content: center;
			flex-direction: column;
			order: 2;
		}

		#featured .book .cover {
			display: center;
			order: 2;
		}

		.book {
			height: 200px;
			display: flex;
			vertical-align: middle;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		/* Styling the nav bar */
		.wrapper {
			margin: 0 auto;
			max-width: 960px;
			padding: 0 2%;
		}

		.navBar {
			
			min-width: 100%;
		}

		nav .wrapper {
				align-items: center;
				display: flex;
				justify-content: space-between;
		}

		nav ul {
				display: flex;
				justify-content: space-between;
				list-style-type: none;
				width: 50%;
		}
		
		nav a {
					color: #53354A;
					text-decoration: none;
					transition: all .5s ease;
			}
		
		nav	li  {
				display: inline-block;
			}
		 }
}

/* For ipads */
@media screen and (min-width: 768px) {
    #pagewrap {
        width: 95%;
    }
}

/*For mobile phones */
@media screen and (min-width: 320px) {
    #pagewrap {
        width: 95%;
    }
}